.main {
    overflow: hidden;
}


/* setting */

.setting {
    padding: 42px 8px 0 8px;
}

.setting__title {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 32px;
}

.setting__header {
    display: flex;
    align-items: center;
}

.setting__header-img {
    width: 90px;
    height: 90px;
    margin-right: 14px;
    border-radius: 50%;
    object-fit: cover;
}

.setting__header-name {
    font-size: 2rem;

    font-weight: 700;
}

.setting__header-wach-profile {
    font-size: 1.8rem;
    color: var(--btn-primary-color);
    font-weight: 700;
    text-decoration: none;
}

.setting-content {
    margin-top: 32px;
}

.setting-nav {
    display: flex;
    font-size: 2rem;
    color: var(--grey-color);
    font-weight: 700;
    border-bottom: 3px solid var(--grey-plus-1-color);
}

.setting-nav-account,
.setting-nav-password,
.setting-nav-system,
.setting-nav-target {
    padding: 8px;
    margin-right: 14px;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
}

.setting-nav-account.setting-nav-active,
.setting-nav-password.setting-nav-active,
.setting-nav-system.setting-nav-active,
.setting-nav-target.setting-nav-active {
    color: var(--btn-primary-color);
    border-bottom: 3px solid var(--btn-primary-color);
    animation: Slide ease 0.3s;
}

@keyframes Slide {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


/* setting-account */

.setting-account {
    display: flex;
    /* display: none; */
    flex-direction: column;
    margin-top: 42px;
    animation: Slide ease 0.3s;
}

.avatar-profile,
.information-profile {
    display: flex;
    align-items: center;
    gap: 10px;
}

.avatar-profile__title {
    width: 28%;
    font-size: 2.4rem;
    font-weight: 700;
    margin-left: 14%;
}

.avatar-profile__choose-file {
    position: relative;
    width: 160px;
    font-size: 1.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 14px;
    color: var(--btn-primary-color);
    font-weight: 700;
    border: 3px solid var(--grey-plus-1-color);
    border-radius: 15px;
    box-shadow: 1px 2px 2px var(--grey-plus-1-color);
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
}

.avatar-profile__choose-file:active {
    opacity: 0.8;
    transform: translateY(2px);
}

.avatar-profile-text {
    margin-top: 18px;
    color: #BEB2B2;
    font-size: 1.8rem;
    font-weight: 500;
}

.avatar-profile-text-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
}

.name-profile,
.name-login,
.name-email {
    display: flex;
    margin-top: 20px;
}

.name-profile__title,
.name-login__title,
.name-email__title,
.information-profile__title {
    min-width: 200px;
    font-size: 1.8rem;
    font-weight: 700;
    margin-left: 14%;
}

.name-profile__file,
.name-login__file,
.name-email__file,
.input-text-profile {
    height: 60px;
    width: 100%;
    padding: 12px;
    background-color: var(--background-input-color);
    border: 3px solid #E5E5E5;
    border-radius: 15px;
    font-size: 1.8rem;
    font-weight: 400;
}

.name-login__file,
.name-email__file {
    color: #BEB2B2;
}

.save-btn {
    margin: 54px auto;
    width: 160px;
    font-size: 1.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 14px;
    color: var(--white-color);
    background-color: var(--btn-primary-color);
    font-weight: 700;
    border: transparent;
    border-bottom: 5px solid var(--btn-primary-border-color);
    border-radius: 15px;
    cursor: pointer;
}

.save-btn:active {
    opacity: 0.8;
    transform: translateY(2px);
}


/* setting-password */

.setting-password {
    /* display: flex; */
    display: none;
    flex-direction: column;
    margin-top: 42px;
    animation: Slide ease 0.3s;
}

.current-password,
.new-password {
    display: flex;
    margin-top: 20px;
}

.current-password__title,
.new-password__title {
    width: 28%;
    font-size: 2.4rem;
    font-weight: 700;
    margin-left: 14%;
}

.current-password__file,
.new-password__file {
    height: 60px;
    width: 400px;
    padding: 12px;
    background-color: var(--background-input-color);
    border: 3px solid #E5E5E5;
    border-radius: 15px;
    font-size: 1.8rem;
    font-weight: 500;
}


/* setting-system */

.setting-container {
    margin: 0 auto;
    max-width: 600px;
    width: 100%;
    gap: 10px;
    display: flex;
    flex-direction: column;
    margin-top: 42px;
    animation: Slide ease 0.3s;
}

.send-mail {
    display: flex;
    margin-top: 20px;
}

.send-mail__title {
    width: 28%;
    font-size: 1.8rem;
    font-weight: 700;
    margin-left: 14%;
    margin-top: 10px;
}

.send-mail__file {
    gap: 10px;
    display: flex;
    align-items: center;

}

.send-mail__file-text {
    padding: 4px;
    font-size: 2.4rem;
    color: #928899;
    font-weight: 500;
}

.send-mail__file-img {
    margin-right: 16px;
}


/* setting-target */

.setting-target {
    display: none;
    /* display: flex; */
    flex-direction: column;
    margin-top: 42px;
    animation: Slide ease 0.3s;
}

.edit-target__title {
    font-size: 2.4rem;
    font-weight: 700;
}

.edit-target__title-text {
    margin-top: 18px;
    line-height: 3.2rem;
    width: 93%;
    font-size: 2.2rem;
    color: #928899;
    font-weight: 500;
}

.edit-target__content {
    margin-top: 18px;
    display: flex;
    justify-content: center;
}

.edit-target__content-img {
    width: 300px;
    height: 165px;
}

.edit-target__content-list {
    list-style: none;
    padding-left: 0;
    width: 100%;
    max-width: 500px;
    border: 1px solid var(--grey-plus-1-color);
    border-radius: 15px;
    overflow: hidden;
}

.edit-target__content-item {
    font-size: 1.8rem;
    font-weight: 700;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--grey-plus-1-color);
    cursor: pointer;

}

.edit-target__content-item:hover {
    color: var(--green-color);
    background-color: #cccccc45;
    transition: all 0.15s linear
}

.edit-target__content-item:last-child {
    border-bottom: none;
}

.edit-target__content-item.edit-target__content-item--choose {
    color: var(--green-color);
    background-color: #cccccc45;
}

.input-avatar-file {
    height: 0;
    overflow: hidden;
    position: absolute;
    width: 0;
}

.setting-box {
    display: flex;
    justify-content: center;
}

.setting-box__item {
    display: flex;
    align-items: center;
    gap: 10px;
}

.setting-box__item-title {
    min-width: 200px;
    font-size: 1.8rem;
    font-weight: 700;
}

.setting-box__item-text {
    color: #BEB2B2;
    font-size: 1.8rem;
    font-weight: 500;
}

.setting-box__item-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1;
}